.progress {
  height: 8px; }

.progress-bar {
  border-radius: 15px; }

#starIcon {
  color: green; }

.ratingDiv {
  -ms-flex-pack: end;
      justify-content: end;
  display: -ms-flexbox;
  display: flex; }

.star {
  font-family: system-ui; }
